snippet cout "std::cout"
std::cout << "$1" << '\n';
endsnippet

snippet str "std::string"
std::string $1;
endsnippet

snippet cstr "const std::string&"
const std::string& $1;
endsnippet

snippet vec "std::vector"
std::vector<$1> $2;
endsnippet

snippet cvec "const std::vector&"
const std::vector<$1>& $2;
endsnippet

snippet /** "javadoc"
/**
 * $1
 * @param $2
 * @return $3
 */
endsnippet
